.env
*.env
.pytest_cache
test_output.txt
test_json_repository.py
test_load_service.py
build/
venv
.venv
staticfiles
LLM_notes
db.sqlite3
tmp
.pytest_tmp

Warehouseloadingboardui-main\node_modules
Warehouseloadingboardui-main\dist


__pycache__
config\__pycache__
tests\__pycache__
src\application\__pycache__
src\domain\__pycache__
src\infrastructure\__pycache__
src\warehouse_ui\__pycache__
src\warehouse_ui\migrations\__pycache__